"*":
  welcome:
    showOnStartup: false
  core:
    automaticallyUpdate: false
    ignoredNames: [
      ".atocker"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".Trash-*"
    ]
  editor:
    invisibles: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      "find-and-replace": true
  "symbols-tree-view":
    autoToggle: true
  "go-plus": {}

